---
    // importamos el JSON para poder crear una interface
    import features from '../../config/features.json';
---

<h1 class="text-center font-bold text-5xl m-5">Features</h1>

<!-- Iteramos el formato JSON para crear cada una de las cartas -->

<div class="grid p-10 md:grid-cols-2 gap-5">
    {
        features.map((feature) => (
            <div class="bg-slate-600 p-10 rounded-xl">
                <h2 class="text-xl font-bold my-3 tracking-wide">{ feature.title } </h2>
                <p>{ feature.descripcion }</p>
            </div>
        ))
    }
</div>